<html>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    <head>
        <title>{{ es_cluster }} cluster health result</title>
    </head>
    <body>
        <table>
            <tr>
                <th>key</th>
                <th>value</th>
            </tr>
            {% for k, v in response.items() %}
            <tr>
                <td>{{k}}</td>
                <td>{{v}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>